[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
flask-restful = "*"
flask-jwt = "*"
flask-cors = "*"
pymysql = "*"
werkzeug = "*"
sqlalchemy = "*"
xlrd = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
